@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About Matrix Forum";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
    
</hgroup>

<article>
    <h3>Created by:</h3>
    <p>
        Curtis Hildebrand <br />
        Tom Alaine
    </p>

    <p>
        
    </p>

    <h3>Source code:</h3>
    <p>
        <a href="http://www.github.com/trinitonesounds/matrixforum" target="_blank" >GitHub</a>
    </p>
    <h3>Changelog:  </h3>
    <p>
        <a href="https://github.com/trinitonesounds/MatrixForum/blob/master/CHANGELOG.txt" target="_blank">GitHub</a>
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>