@{
    var filePathName ="_ChartFiles/chart-"+ DateTime.Now.ToFileTime() +".jpg";
    if(!File.Exists(Server.MapPath(filePathName)))
    {
        var myChart = new Chart(width:600,height: 400,theme:ChartTheme.Yellow);
        myChart.AddTitle("Chart Title");
        myChart.AddSeries(name: "Employee",xValue:new[]{"Peter","Andrew","Julie","Mary","Dave"},
                        yValues:new[]{"2","6","4","5","3"}
        ) ;
        myChart.Save(path:filePathName);   

    }
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Chart Image</title>
    </head>
    <body>
        <img src="@filePathName" alt="Image Chart">
    </body>
</html>
