@{
    Layout="~/_SiteLayout.cshtml";
    var db = Database.Open("StarterSite");
    var userID=UrlData[0];                                      <!--get the ID from the URL -->

    if (userID.IsEmpty()) {
        Response.Redirect(@Href("~/Admin"));
    }

    <!-- User must be deleted from the Roles table before deleting from UserProfiles table -->
    var rowRoles = db.QuerySingle("SELECT * FROM webpages_UsersInRoles WHERE UserId=@0", userID);
    if (IsPost && !userID.IsEmpty()) {
        var deleteQueryString = "DELETE FROM webpages_UsersInRoles WHERE UserId=@0";
        db.Execute(deleteQueryString,userID);
    }

    var rowUser = db.QuerySingle("SELECT * FROM UserProfile WHERE UserId=@0", userID);
    if (IsPost && !userID.IsEmpty()) {                          <!-- Uses IsPost for a "confirm" button-->
        var deleteQueryString = "DELETE FROM UserProfile WHERE UserId=@0";
        db.Execute(deleteQueryString,userID);
        Response.Redirect("~/Admin");
    }
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Delete a User</title>
    </head>
    <body>
        <h1>Delete User - Confirmation</h1>

        <form method="post" action="" name="form">
            <p>Are you sure you want to delete the following user?</p>

            <p>Name: @rowUser.Email <br /> </p>
            <p><input type="submit" value="Delete" /></p>
        
        </form>
    </body>
</html>
