@{
   //WebSecurity.RequireAuthenticatedUser();

   if (!WebSecurity.IsAuthenticated) {
       Response.Redirect("~/Account/Login?returnUrl=" + Request.Url.LocalPath);
   }

   Layout = "~/_SiteLayout.cshtml";
   if ((!User.IsInRole("Member")) || (!User.IsInRole("Admin"))) {
        Response.Redirect("~/404");
   }
   
   Page.Title = WebSecurity.CurrentUserName + " Membership Page";
    
   var db = Database.Open("StarterSite");
   var selectQueryString="SELECT * FROM ForumPosts ORDER BY PostDate DESC";


   //Variables for Forum Posts
   var userId = WebSecurity.CurrentUserId;
   var newPost = Request["messageTextArea"];
   //var row = db.QuerySingle(selectQueryString,PostId);
     
   
   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <p>Current UserId = @userId</p>
        <p>What are you doing?</p>
        <form action="POST" >
            <textarea class="messageTextArea" name="messageTextArea"></textarea>
            <input class="postMessage" type="submit" value="Post Message" />
        </form>
        
        <!-- Message Posts below -->
        <!-- I used a table for now, just to get the data displaying.  
             TODO: reformat the messages. -->
        <table border="1">
        <tbody>
            @foreach(var row in db.Query(selectQueryString)) {
                <tr>
                    <td>Post picture</td>
                    <td>@row.PostFrom</td>  <!-- TODO: link to the username... -->
                    <td>@row.PostMessage</td>
                    <td>@row.PostDate</td>
                </tr>
            }
        </tbody>
        </table>

    </body>
</html>
